include README.md
include LICENSE
include pyproject.toml
recursive-include skills **/*
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .git*
recursive-exclude * *.db
recursive-exclude * *.log
